/***************************************************
	      minimalist by marija zaric
	      template distributed by
        http: //freehtml5templates.com
***************************************************
***************************************************
			      Reset
***************************************************/

html, body, div, span, h1, h2, h3, h4, h5, h6, p, ol, ul, li, form, label, legend, caption, aside, details, figcaption, figure, footer,header, hgroup, menu, nav, section, summary {
   margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

ol, ul {
	list-style: none;
}

a img {
   border: none
}

aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block}

/***************************************************
			      Global styles
***************************************************/

html {
	width: 100%;
	height: 100%;
}

body {
   font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	background-color: white;
	color: #575757;
	margin: 0 0 1px; height: 100%; 
	line-height: 1.7;
	border-top: 10px solid black;
}

.bg {
	background-image: url(../images/bg.png); 
	background-position: left top;
	background-repeat: repeat;
}

p {
	margin-top: 3px;
}
	
a, p a {
	text-decoration: underline;
 color:#C33;
}
	
a: hover {
   color: white;
}

h1, h2, h3, h4, h5, h6 {
   font-family: Arial, Helvetica, sans-serif;
   font-weight: normal;
	position: relative;
}

h1 {
	font-size: 42px;
	line-height: 0.9;
	color: #666666;
	text-align: left;
	margin-bottom: 13px;
	padding-bottom: 15px;
}
.title {
  font-size: 30px;
}
 h1 span {
	font-size: 25px;
	line-height: 12px;
	color: #666666;
	margin-left: 10px;
}
	
h2{
	font-size: 15px;
	line-height: 1.8;
	color: #666666;
	text-align: left;
	border-bottom: 1px solid #A3A3A3;
	margin-bottom: 7px;
	padding-bottom: 12px;
}
	
h3 {
	font-size: 18px;
	line-height: 0.9;
	color: #575757;
	text-align: left;
	margin-bottom: 6px;
	padding-bottom: 5px;
}

h4 {
	font-size: 14px;
	line-height: 0.9;
	color: #CC3333;
	text-align: left;
	margin-bottom: 8px;
	padding-top: 3px;
}

/***************************************************
			    Main containers
***************************************************/

#container, #container_left, #container_right {
	position: relative;
	width: 100%;
}
	
#container {
	position: relative;
	width: 980px;
	margin: 0 auto;
	background-color: transparent;
	min-height: 100%;
}

.group1 {
	float: left;
	width: 274px;
	position: relative;
	background: transparent;
	padding: 15px;
	margin-bottom: 10px;
}
	
.group2 {
	float: left;
	width: 274px;
	position: relative;
	background: transparent;
	padding: 15px;
	margin-bottom: 10px;
	margin-left: 30px;
}
	
.group3 {
	float: right;
	width: 274px;
	position: relative;
	background: transparent;
	padding: 15px;
	}

.group4 {
	float: left;
	width: 950px;
	position: relative;
	padding: 15px;
	margin-bottom: 25px;
	background: transparent;
	border-top: 1px solid #A3A3A3;
	-moz-column-count: 3; /* Firefox */
	-webkit-column-count: 3; /* Safari and Chrome */
	column-count: 3;	
	-moz-column-gap: 40px; /* Firefox */
	-webkit-column-gap: 40px; /* Safari and Chrome */
	column-gap: 40px;	
	-moz-column-rule: 1px solid #A3A3A3; /* Firefox */
	-webkit-column-rule: 1px solid #A3A3A3; /* Safari and Chrome */
	column-rule: 1px solid #A3A3A3;
}
	
header {
	position: relative;
	float: left;
	width: 100%;
	height: 100px;
}
	
	
/***************************************************
				INTRO
***************************************************/	
	
#intro {
	width: 980px;
	position: relative;
	float: left;
	background: transparent;
	margin-top: 25px;
}

/***************************************************
				   HOLDERS
***************************************************/	

.holder_content {
	position: relative;
	float: left;
	width: 100%;
	margin-top: 4px;
	padding-top: 10px;
}
	
.holder_content_separator{
	margin-bottom: 20px;
}
	
/***************************************************
			        GALLERY
***************************************************/
	 	 
a.photo_hover3 {
	position: relative;
	float: left;
	margin: 16px 13px 8px 0;
	padding: 8px;
   background-color: white;
	border: 1px solid #D6D6D6;
}

a.photo_hover3: hover {
	border: 1px solid #D6D6D6;
	background-color: transparent;
	opacity: 0.9;
	z-index: 1000;
}
	
a.photo_hover2 {
	position: relative;
	float: right;
	margin: 5px 13px 8px 0;
	padding: 8px;
   background-color: white;
	border: 1px solid #E1E1E1;
}

a.photo_hover2: hover {
	border: 1px dotted #66CCFF;
	background-color: #C7EDFF;
	opacity: 0.9;
	z-index: 1000;
}


/***************************************************
			        FOOTER
***************************************************/

footer {
	position: relative;
	height: 90px;
	clear: both;
	width: 100%;
	background-image: url(../images/footer.png);
	background-position: left top;
	background-repeat: repeat-x;
	margin-bottom: 18px;
	background-color: black;
}

#FooterOne, #FooterTwo, #FooterTree {
	position: absolute;	
}

#FooterTwo {
	position: absolute;
	right: 225px;
	top: 26px;
	color: white;
}

#FooterTree {
	position: absolute;
	left: 225px;
	top: 26px;
	color: white;
}

.container-footer {
   width: 980px;
   margin: 0 auto;
	background-color: #33CC99;
}

/***************************************************
				       MENU
***************************************************/

nav {
	position: absolute;
	width: 534px;
	top: 38px;
	left: 450px;
	background: transparent;
	border-top: 1px solid #A3A3A3;
	border-bottom: 1px solid #A3A3A3;
}

nav ul li {
	float: left;
	margin-left: 16px;
	line-height: normal;
	list-style:none !important;
}

nav ul li a {
	font-size: 20px;
   font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	font-weight: normal;
	display: block;	/* IE6, IE7 line height fix */
	padding-bottom: 10px;
	padding-top: 5px;
	background-color: transparent;
	margin-top: 5px;
	margin-right: 6px;
   text-decoration: none;
}

nav ul li a: hover {
	color: #CC3333;
}

nav ul li a.current {
	color: #CC3333;
}

.content_menu {
	float: left;
	width: 274px;
	margin-top: -10px;
	margin-bottom: 15px;
}
	
.content_menu ul {	
	margin: 0px;
	padding: 0px;
	float: none;
}

.content_menu ul li {
	float: none;
	padding-bottom: 16px;
}


.content_menu ul li a {
	font-size: 14px;
	line-height: normal;
   color: #33CC99;
	text-align: left;
	text-decoration: none;
	background-image: url(../images/circle.png);
	background-position: left;
	background-repeat: no-repeat;
	padding-left: 20px;
}
	
.content_menu ul li a: hover {
   color: #33CC99;
}

/***************************************************
				   SPECIFIC
***************************************************/

#logo {
	position: relative;
   float: left;
	left: 0px;
	width: 167px;
	height: 43px;
	top: 32px;
}

.clearing {
	clear: both;
	display: inline;
	width: 100%;
	height: 0;
	overflow: hidden;
}
 	
.button {
	width: 66px;
	height: 13px;
	position: relative;
	margin-top: 12px;
	padding: 9px;
	background-color: black;
	display: inline-block;
	color: white;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 12px/100% Arial, Helvetica, sans-serif;
}
	
.button: hover {
	background-color: #333333;
}

.button: active {
	position: relative;
	top: 1px;
}
.article-title,#breadcrumb a{
 color:#C33 !important;
 text-decoration:none;
}
#breadcrumb a:hover{
 text-decoration:underline;
}

.content_main{
  width:58%;
	overflow:hidden;
	float:left;
}
.sidebar_left{
  width:20%;
	overflow:hidden;
	float:left;
	padding-right:1%;
}
.sidebar_right{
  width:20%;
	overflow:hidden;
	float:left;
	padding-left:1%;
}

.no-side .content_main{
  width:100%;
}
.first-side .content_main,.second-side .content_main{
  width:79%;
}
